a.blog-thumb(href=locals.link)
  article.inner
    .thumb(data-bg=locals.acf.blog_thumb ? locals.acf.blog_thumb.sizes.medium : "")
    .content
      h2!=locals.title.rendered
    .post-date!=locals.date