if productData !== undefined
    - var products = productData;
    .grid-table.sortable
        .table-controls
            .inner
                - var categories = products[0] ? Object.keys(products[0]) : [];
                label(for="category-sort") Sort By:
                select.category-sort
                    each category in categories
                        option(value=category)= category
                select.sort-direction
                    option(selected, value="true") asc
                    option(value="false") desc
        .table-header
            .table-header-row.table-row
                each category in categories
                    .table-header-cell.table-cell
                        p= category
        .table-body
            each product in products
                .table-body-row.table-row
                    each value, key in product
                        .table-body-cell.table-cell(class=key.toLowerCase().replace(/\W/g, ''))
                            p= value
else 
    p No products to display