.page-header {
  width: 100%;
  font-family: $nav-font;
  background: $black;
  position: relative;
  .inner {
    width: auto;
    padding: 0 $gutter-width/2;
    text-align: center;
    @include bp(m) {
      max-width: 1080px;
      padding: 0;
      margin: 0 auto;
    }
    nav {
      position: absolute;
      right: $gutter-width;
      top: $gutter-width;
      a {
        font-weight:normal;
        color: $white;
        letter-spacing:2px;
        &:hover {
          color:$green;
        }
      }
    }
  }
  .logo {
    color: $white;
    &:hover {
      color: $white;
    }
    h1 {
      font-size: 32px;
      font-family: $nav-font;
      font-weight:normal;
      color:$green;
      padding: 0;
      line-height: 3;
      position: relative;
    }
  }
}
